/* src/styles/globals.css */
@import "./tokens.css";

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: var(--color-surface);
    color: var(--color-text-primary);
}

* {
    box-sizing: border-box;
}